.featuredProject {
    flex-grow: 1;
    width: 100%;
    padding: 1em;
    display: flex;
}

.featuredProjectDescription {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.featuredProject img {
    max-height: 20em;
    max-width: 20em;
}

.featuredProject h3 {
    text-align: left;
}

.featuredProject p {
    text-align: left;
}