.projectItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectSection {
    text-align: center;
    padding: 2em;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .projectSection {
        padding-left: .4em;
        padding-right: .4em;
    }
}