/* Featured Project */

.featuredProject .projectBadge {
	float: left;
	margin-right: 0.3em;
	margin-bottom: 1em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.featuredProject {
	flex-grow: 1;
	align-self: center;
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.titlesection {
	display: flex;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
	flex-wrap: wrap;
	align-items: center;
}

.right {
	color: #1195fa;
	font-weight: bold;
}

.featuredProjectDescription {
	display: flex;
	flex-direction: column;
	padding: 30px;
	font-family: Helvetica, sans-serif;
}

.projectImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.featuredProject h3 {
	text-align: left;
	font-size: 1.4em;
	font-weight: bold;
}

.featuredProject p {
	text-align: left;
	font-size: 0.9em;
}

/* Non-Featured Project */

.sadasda {
	text-decoration: underline;
}

.asdasdasd {
	font-weight: bold;
	color: rgb(255, 56, 56);
}

.projectItem {
	padding: 1em;
	display: inline-flex;
	text-align: left;
	margin-top: 2rem;
}

.projectItem h3 {
	font-size: 1.3em;
}

.projectItem p {
	font-size: 0.9em;
}

/* Project Buttons */

.interactionButtons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.projectButtons {
	margin: 0em;
}

.featurenew {
	font-weight: bold;
}

.projectButton {
	margin-right: 0.3em;
}

.btn-project {
	background-color: #1195fa !important;
	color: white !important;
}

.btn-github {
	background-color: #212121 !important;
	color: white !important;
	size: 20em;
}

.liveIcon {
	font-size: 0.9em;
	padding-left: 0.4em;
	vertical-align: top;
}

/* Project Badges */

.projectItem .projectBadge {
	margin-right: 0.3em;
}

.badge-primaryItem {
	background-color: #1195fa !important;
	color: white !important;
}

.badge-secondaryItem {
	background-color: #2d3436 !important;
	color: white !important;
}

/* Mobile */

@media only screen and (max-width: 800px) {
	.featuredProject h3 {
		font-size: 1.3em;
	}
	.featuredProject p {
		font-size: 0.8em;
	}
	.featuredProject .projectBadges {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.projectImage {
		margin-top: 0.5em;
	}
}
