.footer {
    background: #212121;
    float: right;
    color: white;
    width: 100%;
    text-align: right;
    vertical-align: middle;
}

.footerSubsection {
    background: #272727;
    float: right;
    color: white;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    padding: 1em;
    font-size: .9em;
}

.footerImgSection {
    float: center;
    max-width: 3em;
    margin: auto;
    margin-top: 9em;
    margin-bottom: 6em;
    text-align: center;
}

.footerImg {
    max-width: 3em;
    margin: auto;
}

.easteregg {
    color: #272727;
}

/* Mobile */

@media only screen and (max-width: 500px) {
    .footerImg {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .footerCopyright {
        display: none;
    }
}