.header {
    background: #0984e3;
    min-height: 23em;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.header div {
    text-align: left;
    align-self: center;
}

.header img {
    width: 15em;
    height: auto;
    border-radius: 50%;
    margin-left: 2em;
    margin-right: 2em;
}

.header h1 {
    font-size: 2.1em;
}

.header p {
    font-size: .9em;
    max-width: 45em;
    margin-right: 2em;
}

.btn-main {
    background-color: #212121 !important;
    color: white !important;
    padding-left: 5.5em !important;
    padding-right: 5.5em !important;
}

@media only screen and (max-width: 600px) {
    .header div {
        text-align: center !important;
        margin-left: 1em;
        margin-right: 1em;
    }

    .header img {
        display: none;
    }
}