.header {
    background: #e74c3c;
    min-height: 23em;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.header div {
    text-align: left;
    align-self: center;
}

.header img {
    width: 15em;
    border-radius: 50%;
    margin-right: 2em;
}

.header h1 {
    font-size: 2.1em;
}

.header p {
    font-size: .9em;
    max-width: 45em;
}