.navItem {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.1em;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}