
html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: red;
}
